/* Стили для выделения выбранного вопроса и подсветки правильного/неправильного ответа */
.question-var {
    margin-top: 10px;
    padding: 10px;
    display: block;
    background-color: #f2f2f2;
    color: #000;
    border-radius: 10px;
}


.selected {
    background-color: #cecece;
}

.correct {
    background-color: #91ff91;
}

.incorrect {
    background-color: #ff7272;
}

/* Стили для квадратиков прогресса */
#progress {
    display: flex;
    margin-top: 20px;
}
.progress1 {
    display: inline-block;
    margin-top: 20px;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.question {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
}

 .pdd-ticket {
    background:#f5f5f5;
}

.pdd-polosa {
    border-bottom: 1px solid var(--gray-icon, hsl(210, 8%, 76%));
}

.questions {
    font-size: 25px;
}

.buttonnext {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #2d972d;
    color: #fff;
    border-radius: 5px;
}

.centerque{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 15px;
}

.hint-text {
    margin-top: 10px;
    background-color: #fffae5;
    padding: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}